[data-theme="dark"] body {
  background-color: #1e1c31;
  color: #cbe3e7;
}

[data-theme="dark"] .header {
  background-color: #100e23;
}

[data-theme="dark"] .menu {
  background-color: #100e23;
}


[data-theme="dark"] .logo__cursor {
  background: #a1efd3;
}

